@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



* {
    box-sizing: border-box;
}

/* @font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-VariableFont_opsz\,wght.ttf') format('ttf');
    font-weight: normal;
    font-size: normal;
} */

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-weight: normal;
    background: var(--grey-50);
    color: var(--grey-800);
    margin: 0;
    padding: 0;
}

button {
    background: white;
    cursor: pointer;
    color: var(--grey-800);
    border: 1px var(--grey-200) solid;
    padding: var(--space-4) var(--space-12);
    border-radius: var(--space-4);
    font-size: 0.85rem;
    transition: background 200ms ease;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-weight: 500;
}

button:hover {
    background: var(--grey-50);
}

button.button-warn {
    color: var(--yellow-600);
}

button.button-warn:hover {
    background: var(--yellow-50);
}

button.button-danger {
    color: var(--red-400);
}

button.button-danger:hover {
    background: var(--red-50);
}

input[type="checkbox"] {
    cursor: pointer;
}

.always-hidden {
    display: none;
}

.flex-group {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: flex-start;
    gap: var(--space-8);
}

.flex-group-wrap {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: var(--space-8);
}

:root {


    --red-50: #FCE8E8;
    --red-100: #F8BFBF;
    --red-200: #F39696;
    --red-300: #EE6D6D;
    --red-400: #E94444;
    --red-500: #D91A1A;
    --red-600: #BB1616;
    --red-700: #921111;
    --red-800: #690C0C;
    --red-900: #400707;
    --red-1000: #170303;

    --yellow-50: #FDFAE8;
    --yellow-100: #F9F0BD;
    --yellow-200: #F6E793;
    --yellow-300: #F2DD69;
    --yellow-400: #EED43F;
    --yellow-500: #E0C014;
    --yellow-600: #C0A611;
    --yellow-700: #96820D;
    --yellow-800: #6C5D09;
    --yellow-900: #423906;
    --yellow-1000: #171402;

    --green-50: #E7FDED;
    --green-100: #BDFACD;
    --green-200: #92F6AD;
    --green-300: #68F38D;
    --green-400: #3EEF6D;
    --green-500: #12E049;
    --green-600: #10C13F;
    --green-700: #0C9731;
    --green-800: #096D23;
    --green-900: #054216;
    --green-1000: #021808;

    --blue-50:  #E8F6FD;
    --blue-100: #BEE6F8;
    --blue-200: #95D6F4;
    --blue-300: #6BC6EF;
    --blue-400: #42B6EB;
    --blue-500: #20A8E8;
    --blue-600: #1488BD;
    --blue-700: #106A94;
    --blue-800: #0B4C6A;
    --blue-900: #072E41;
    --blue-1000:#021117;

    --purple-50:  #F4E8FC;
    --purple-100: #E1C0F7;
    --purple-200: #CD97F2;
    --purple-300: #BA6FEC;
    --purple-400: #A746E7;
    --purple-500: #9724E3;
    --purple-600: #7918B9;
    --purple-700: #5E1390;
    --purple-800: #440D68;
    --purple-900: #29083F;
    --purple-1000:#0f0317;

    --grey-50:  #EFF1F5;
    --grey-100: #D3D8E4;
    --grey-200: #B7BFD2;
    --grey-300: #9BA6C0;
    --grey-400: #7E8DAE;
    --grey-500: #65769E;
    --grey-600: #515F81;
    --grey-700: #3F4A64;
    --grey-800: #2D3548;
    --grey-900: #1B202C;
    --grey-1000:#0A0C10;

    --space-4: 4px;
    --space-8: 8px;
    --space-12: 12px;
    --space-16: 16px;
    --space-20: 20px;
    --space-24: 24px;
    --space-28: 28px;
    --space-32: 32px;
    --space-36: 36px;
    --space-40: 40px;
    --space-44: 44px;
    --space-48: 48px;

    --ff: sans-serif;
}