
#content-container {
    position: fixed;
    inset: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--blue-400);
}

.content-page {
    --outside-gap: var(--space-24);
    max-width: 75vw;

    background: var(--grey-50);
    border-radius: var(--space-8);
    padding: var(--space-16);
    display: flex;
    flex-direction: column;
    gap: var(--space-36);
    justify-content: center;
    align-items: center;
    border: 1px var(--grey-500) solid;
}

.content-page-header {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
    align-items: center;
}

.content-page-header h1 {
    font-size: 1.5rem;
    margin: 0;
}

.content-page-header h2 {
    font-size: 0.8rem;
    color: var(--grey-500);
    margin: 0;
}

.content-page-section {
    max-width: 75%;
    
    display: flex;
    flex-direction: column;
    gap: var(--space-16);
}

div.form {
    margin-bottom: var(--space-4);
    display: flex;
    flex-direction: column;
    gap: var(--space-16);
}

.form-section p {
    margin: 0;
    color: var(--grey-700);
    font-weight: bold;
}

.form-section input[type="text"] {
    width: 100%;
}

.form-section p.faded {
    font-size: 0.8rem;
    color: var(--grey-500);
    margin: 0;
    font-weight: normal;
}

#account-setup {
    margin: var(--space-48) var(--space-16);
    justify-content: space-between;
}

#account-setup-form .flex-group {
    justify-content: center;
}


.content-page-footer {

}