
body {
    margin: 0;
    padding: 0;
}


#suggestions {
    position: fixed;
    display: none;
    margin: 0;
    padding: var(--space-4);
    list-style: none;
    min-width: 100px;

    z-index: 1000;
    background: var(--blue-50);
    border: 1px solid var(--blue-400);
    border-radius: var(--space-4);
    font-size: 0.85rem;
    font-weight: normal;
}

#suggestions li {
    font-family: "Inter", sans-serif;
    color: var(--blue-1000);
    cursor: pointer;
    background: none;
    padding: var(--space-4);
    border-radius: var(--space-4);
    transition: background 200ms ease;
}

#suggestions li.general-tag {
    font-weight: 500;
}

#suggestions li.artist-tag {
    color: var(--yellow-700);
    font-weight: 500;
}

#suggestions li.contributor-tag {
    color: var(--grey-700);
    font-weight: 500;
}

#suggestions li.copyright-tag {
    color: var(--purple-600);
    font-weight: 500;
}

#suggestions li.character-tag {
    color: var(--red-800);
    font-weight: 500;
}

#suggestions li.species-tag {
    color: var(--red-700);
    font-weight: 500;
}

#suggestions li.invalid-tag {
    color: var(--red-400);
    font-weight: 500;
    text-decoration: line-through;
}

#suggestions li.meta-tag {
    font-weight: 700;
    font-style: italic;
}

#suggestions li.lore-tag {
    color: var(--green-700);
    font-weight: 500;
}

#suggestions li:hover {
    background: var(--blue-100);
}


.modal-background {
    position: fixed;
    inset: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
    cursor: pointer;
}

.modal-background.modal-hidden {
    display: none;
}

.modal {
    --outside-gap: 40px;
    max-width: calc(100vw - var(--outside-gap));
    height: calc(100vh - var(--outside-gap));
    background: var(--grey-50);
    border-radius: var(--space-8);
    padding: var(--space-8);
    gap: var(--space-12);
    overflow-y: auto;
    cursor: default;

    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: 
        auto 
        auto
        auto 
        1fr  
        auto 
        auto;
    grid-template-areas: 
        "left rating rating"
        "left characters species"
        "left relations relations"
        "left general description"
        "left creators parent"
        "footer footer footer";
}

.modal-section {
    border: 1px var(--grey-300) solid;
    padding: var(--space-4);
    border-radius: var(--space-4);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--space-4);
    background: white;
}

.modal-section textarea {
    background: var(--grey-50);
    border-radius: var(--space-8);
}

.modal-section h3 {
    margin: 0;
}

.modal-section textarea {
    width: 100%;
    resize: vertical;
}

#left-modal {
    grid-area: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#content-container {
    min-width: 0;
    min-height: 0;
    width: 100%;
    height: auto;
    background: var(--grey-50);
}

#content-container img,
#content-container video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#content-information {
    flex-basis: 10%;
    display: flex;
}

#modal-sources {
    flex-basis: 0%;
}

#modal-characters {
    grid-area: characters;
    width: 100%;
}

#modal-relationships {
    grid-area: relations;
    min-width: 0;
    min-height: 0;
}

#modal-relations button {
    font-size: 0.75rem;
}

#modal-species {
    grid-area: species;
}

#modal-general {
    grid-area: general;
}

#modal-general textarea {
    height: 100%;
}

#modal-description {
    grid-area: description;
}

#modal-description textarea {
    height: 100%;
}

#modal-creators {
    grid-area: creators;
}

#modal-footer {
    grid-area: footer;
    display: flex;
    flex-direction: row;
    gap: var(--space-8);
    justify-content: flex-end;
    background: rgba(0, 0, 0, 0.2);
    border-radius: var(--space-8);
    padding: var(--space-4);
    border: 1px var(--grey-400) solid;
}

#modal-rating {
    grid-area: rating;
} 

#upload-main-area {
    display: flex;
    flex-direction: column;
    padding: var(--space-12);
    gap: var(--space-24);
    height: 100vh;
    overflow-y: scroll;
    transition: flex-basis 500ms ease;
}

#upload-main-area:has(+ #upload-right-sidebar[data-active="false"]) {
    flex-basis: 100%;
}

#upload-main-area-top {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: space-between;
}

#upload-main-text h1 {
    margin-bottom: 0;
    line-height: var(--space-8);
}

#upload-main-text p {
    font-size: 0.8rem;
    color: var(--grey-600);
}

#upload-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: var(--space-12);
}

#upload-main-area-file {
    background: white;
    width: 100%;
    text-align: center;
    border-radius: var(--space-12);
    border: 3px var(--blue-300) dashed;
    padding: var(--space-12);
}

#upload-main-area-file.drag-over {
    background: var(--grey-100);
}

#upload-main-area-file p {
    line-height: var(--space-4);
}

p.bold {
    font-weight: bold;
}

.open-file-select {
    color: var(--blue-400);
    text-decoration: underline;
    cursor: pointer;
}

p.dull-text {
    font-size: 0.8rem;
    color: var(--grey-500);
}

#upload-main-area-bulkaction-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    background: white;
    padding: var(--space-12) var(--space-8);
    border-radius: var(--space-8);
    line-height: 0;
    border: 1px var(--grey-200) solid;
}



#upload-main-area-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: var(--space-8);
    width: 100%;
}

.upload-item {
    width: 100%;
    background: white;
    border: 1px var(--grey-200) solid;
    border-radius: var(--space-8);
    position: relative;
    overflow: hidden;
}

.upload-item[data-selected="true"] {
    outline: 2px var(--blue-400) solid;
}

.upload-item-content {
    position: relative;
    width: 100%;
    aspect-ratio: 7/5;
    border-bottom: 1px var(--grey-200) solid;
    background: var(--grey-100);
}

.upload-item-content img,
.upload-item-content video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
}

.upload-item-media[disabled="true"] {
    display: none;
}

.upload-item-content-header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    margin: var(--space-4);
}

.upload-item-footer {
    padding: var(--space-8);
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
    background: white;
    cursor: pointer;
}

.upload-item[data-selected="true"] .upload-item-footer {
    background: var(--blue-50);
}

.upload-item-footer p {
    font-size: 0.9rem;
    margin: 0;
}

.upload-item-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.upload-item-footer-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--grey-400);
}

.upload-item-footer-info p {
    font-size: 0.75rem;
}

*[selected="true"] button {
    background: var(--green-100);
}

conditional-button:not([active="true"]) {
    display: none;
}

.conditional-button {
    display: inline;
}

.conditional-button[data-visible="false"] {
    display: none;
}
